@font-face {
  font-family: "philo";
  font-style: normal;
  font-weight: normal;

  src: url("fonts/philosopher-regular-webfont.woff2") format("woff2"),
    url("fonts/philosopher-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: thin;

  src: url("fonts/roboto-thin-webfont.woff2") format("woff2"),
    url("fonts/roboto-thin-webfont.woff") format("woff");
}

/* Designed for 384px minimal width and bigger */

:root {
  --polygonBackgroundColor: mediumseagreen;
  --polygonEnvelopeColor: white;
  --polygonEnvelopeIconSize: 40%;
  --polygonFontSize: 2rem;
  --polygonSize: calc(50% - 0.3rem);
  --polygonTextColor: white;
  --minContainerSize: 10rem;
  --maxContainerSize: 48rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "philo", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(35, 35, 35);
}

.more-space-under {
  margin-bottom: 4rem;
}

.mail-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* HEADER */

#header {
  display: flex;
  margin: 0.6rem auto;
  max-width: var(--maxContainerSize);
  min-width: var(--minContainerSize);
  padding: 0 0.5rem;
}

#header__container {
  align-items: center;
  background-color: rgb(35, 35, 35);
  border-radius: 5px;
  display: flex;
  flex: 1 1 auto;
  height: 2rem;
  justify-content: space-between;
  margin: 0;
  opacity: 0.8;
}

#header a {
  text-decoration: none;
}

/* HEADER__LOGO */

#logo {
  background-color: rgb(35, 35, 35);
  border-radius: 5px 0 0 5px;
  color: white;
  cursor: pointer;
  display: flex;
  height: 2rem;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
  margin-left: 0.5rem;
  white-space: nowrap;
}

#logo:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#logo__image {
  display: inline-block;
  height: 1rem;
  margin: auto;
  vertical-align: middle;
  width: 1rem;
}

#logo__text {
  margin: auto;
  vertical-align: middle;
}

#logo__link {
  color: white;
  margin: auto;
  vertical-align: middle;
}

/* HEADER__MENU */

#menu {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: center;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  width: 23rem;
}

.menu__link {
  color: white;
  display: flex;
  margin-right: 1rem;
  opacity: 0.8;
  white-space: nowrap;
}

.menu__link:hover {
  opacity: 1;
}

.menu__link-last {
  margin-right: 0;
}

#menu-toggle-button {
  align-items: center;
  background-color: rgb(35, 35, 35);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
  width: 2rem;
}

#menu-toggle-button:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#menu-button-image {
  filter: invert(98%) sepia(1%) saturate(0%) hue-rotate(34deg) brightness(116%)
    contrast(100%);
  height: 1rem;
  width: 1rem;
}

#menu-container {
  display: flex;
  visibility: hidden;
}

/* MAIN */

main {
  margin: 0.6rem auto;
  max-width: var(--maxContainerSize);
  min-width: var(--minContainerSize);
  padding: 0 0.5rem;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  row-gap: 0.3rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/* MAIN__DASHBOARD */

#dashboardLeftTopPolygon {
  align-items: center;
  aspect-ratio: 361.86 / 320;
  background-color: var(--polygonBackgroundColor);
  border-radius: 10px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 66%, 66% 100%, 0% 100%);
  color: var(--polygonTextColor);
  display: flex;
  flex-basis: var(--polygonSize);
  font-size: var(--polygonFontSize);
  justify-content: center;
  margin-right: 0.3rem;
  transition: all 0.2s ease-in-out;
}

#dashboardLeftTopPolygon:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.98);
}

#dashboardRightTopPolygon {
  align-items: center;
  aspect-ratio: 361.86 / 320;
  background-color: var(--polygonBackgroundColor);
  border-radius: 10px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 33% 100%, 0% 66%);
  color: var(--polygonTextColor);
  display: flex;
  flex-basis: var(--polygonSize);
  font-size: var(--polygonFontSize);
  justify-content: center;
  margin-left: 0.3rem;
  transition: all 0.2s ease-in-out;
}

#dashboardRightTopPolygon:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.98);
}

#dashboardLeftBottomPolygon {
  align-items: center;
  aspect-ratio: 361.86 / 320;
  background-color: var(--polygonBackgroundColor);
  border-radius: 10px;
  clip-path: polygon(0% 0%, 66% 0%, 100% 33%, 100% 100%, 0% 100%);
  color: var(--polygonTextColor);
  display: flex;
  flex-basis: var(--polygonSize);
  font-size: var(--polygonFontSize);
  justify-content: center;
  margin-right: 0.3rem;
  transition: all 0.2s ease-in-out;
}

#dashboardLeftBottomPolygon:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.98);
}

#dashboardRightBottomPolygon {
  align-items: center;
  aspect-ratio: 361.86 / 320;
  background-color: var(--polygonBackgroundColor);
  border-radius: 10px;
  clip-path: polygon(33% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 33%);
  color: var(--polygonTextColor);
  display: flex;
  flex-basis: var(--polygonSize);
  font-size: var(--polygonFontSize);
  justify-content: center;
  margin-left: 0.3rem;
  transition: all 0.2s ease-in-out;
}

#dashboardRightBottomPolygon:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.98);
}

#callForActionPolygon:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.98);
}

#callForActionCenterImage {
  filter: invert(67%) sepia(12%) saturate(2117%) hue-rotate(94deg)
    brightness(87%) contrast(84%);
  margin: -3rem 0 -3rem 43.8%;
  transition: all 0.2s ease-in-out;
  width: 12.5%;
}

#callForActionCenterImage:hover {
  transform: scale(1.1);
}

.media {
  display: flex;
  align-items: flex-start;
  align-content: center;
  border: 1px solid mediumseagreen;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1rem;
}

.media__title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.media__content {
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: lighter;
}

.media__logo {
  display: flex;
  align-self: center;
  width: 12rem;
  height: 12rem;
  /* margin-left: 1rem; */
  border-radius: 10px;
}

/* Technologies sub page rules */

#technologies-main-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  row-gap: 0.3rem;
  justify-content: center;
}

.technology-logo {
  flex-basis: 100%;
  height: 10rem;
}

.js-logo {
  flex-basis: 10rem;
}

.redux-logo {
  flex-basis: 19rem;
}

.react-logo {
  flex-basis: 10rem;
}

.technology-logo-title-margin-bottom {
  margin-bottom: 3rem;
}

/* Skills sub page rules */

#skills-main-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  row-gap: 0.3rem;
  justify-content: center;
}

/* services sub page rules */

#services-main-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  row-gap: 0.3rem;
  justify-content: center;
}

.services-logo {
  display: flex;
  width: 5rem;
  filter: invert(13%) sepia(75%) saturate(6335%) hue-rotate(244deg)
    brightness(62%) contrast(140%);
}

.check-icon {
  width: 1rem;
  height: 1rem;
}

/* Contact sub page content */

#contact-main-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  row-gap: 0.3rem;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

#contact-details-container {
  padding: 1rem;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.no-margin {
  margin: 0;
}

.margin-top-dot2rem {
  margin-top: 0.2rem;
}

#portrait {
  width: 20rem;
  margin: 0 auto;
}

.rounded {
  object-fit: cover;
  border-radius: 50%;
}

/* MEDIA QUERY RULES */

/* Tablet and large phone size */

@media screen and (max-width: 650px) {
  :root {
    --polygonFontSize: 1.5rem;
  }

  #menu {
    font-size: 0.7rem;
    width: 15rem;
  }

  .menu__link {
    margin-right: 0.5rem;
  }

  #logo {
    width: 5rem;
  }

  #logo__link {
    font-size: 0.7rem;
  }

  #portrait {
    width: 18rem;
  }
}

/* iPhone SE and similar size */

@media screen and (max-width: 374px) {
  :root {
    --polygonFontSize: 1.2rem;
  }

  #portrait {
    width: 16rem;
  }
}
