/* Imports */
@font-face {
  font-family: "philo";
  font-style: normal;
  font-weight: normal;

  src: url("fonts/philosopher-regular-webfont.woff2") format("woff2"),
    url("fonts/philosopher-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: thin;

  src: url("fonts/roboto-thin-webfont.woff2") format("woff2"),
    url("fonts/roboto-thin-webfont.woff") format("woff");
}

/* Designed for 384px minimal width */

/* Globals */

:root {
  --maxContainerSize: 48rem;
  --minContainerSize: 10rem;
  --polygonBackgroundColor: mediumseagreen;
  --polygonEnvelopeColor: white;
  --polygonEnvelopeIconSize: 40%;
  --polygonFontSize: 2rem;
  --polygonSize: calc(50% - 0.3rem);
  --polygonTextColor: white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: rgb(35, 35, 35);
  font-family: "philo", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.margin-bottom-3 {
  margin-bottom: 3rem;
}

.margin-bottom-4 {
  margin-bottom: 4rem;
}

.mail-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

.break {
  flex-basis: 100%;
  height: 0;
}

main {
  margin: 0.6rem auto;
  max-width: var(--maxContainerSize);
  min-width: var(--minContainerSize);
  padding: 0 0.5rem;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: center;
  row-gap: 0.3rem;
}

.block {
  display: block;
}

.container {
  display: flex;
  margin: 0.6rem auto;
  max-width: var(--maxContainerSize);
  min-width: var(--minContainerSize);
  padding: 0 0.5rem;
}

/* Media block */

.media {
  align-content: center;
  align-items: flex-start;
  border-radius: 10px;
  border: 1px solid mediumseagreen;
  display: flex;
  margin-bottom: 1rem;
  padding: 5px;
}

.media__title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.media__content {
  font-size: 1rem;
  font-weight: lighter;
  padding-left: 1rem;
}

.media__logo {
  align-self: center;
  border-radius: 10px;
  display: flex;
  height: 12rem;
  width: 12rem;
}

/* Header */

#header__container {
  align-items: center;
  background-color: rgb(35, 35, 35);
  border-radius: 5px;
  display: flex;
  flex: 1 1 auto;
  height: 2rem;
  justify-content: space-between;
  margin: 0;
  opacity: 0.8;
}

#header a {
  text-decoration: none;
}

/* Logo */

#logo {
  background-color: rgb(35, 35, 35);
  border-radius: 5px 0 0 5px;
  color: white;
  cursor: pointer;
  display: flex;
  height: 2rem;
  margin-left: 0.5rem;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
}

#logo:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#logo__image {
  display: inline-block;
  height: 1rem;
  margin: auto;
  vertical-align: middle;
  width: 1rem;
}

#logo__text {
  margin: auto;
  vertical-align: middle;
}

#logo__link {
  color: white;
  margin: auto;
  vertical-align: middle;
}

/* Main Page Dashboard */

.dashboard {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  row-gap: 0.3rem;
}

#dashboard__left-top-polygon {
  align-items: center;
  aspect-ratio: 361.86 / 320;
  background-color: var(--polygonBackgroundColor);
  border-radius: 10px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 66%, 66% 100%, 0% 100%);
  color: var(--polygonTextColor);
  display: flex;
  flex-basis: var(--polygonSize);
  font-size: var(--polygonFontSize);
  justify-content: center;
  margin-right: 0.3rem;
  transition: all 0.2s ease-in-out;
}

#dashboard__left-top-polygon:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.98);
}

#dashboard__right-top-polygon {
  align-items: center;
  aspect-ratio: 361.86 / 320;
  background-color: var(--polygonBackgroundColor);
  border-radius: 10px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 33% 100%, 0% 66%);
  color: var(--polygonTextColor);
  display: flex;
  flex-basis: var(--polygonSize);
  font-size: var(--polygonFontSize);
  justify-content: center;
  margin-left: 0.3rem;
  transition: all 0.2s ease-in-out;
}

#dashboard__right-top-polygon:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.98);
}

#dashboard__left-bottom-polygon {
  align-items: center;
  aspect-ratio: 361.86 / 320;
  background-color: var(--polygonBackgroundColor);
  border-radius: 10px;
  clip-path: polygon(0% 0%, 66% 0%, 100% 33%, 100% 100%, 0% 100%);
  color: var(--polygonTextColor);
  display: flex;
  flex-basis: var(--polygonSize);
  font-size: var(--polygonFontSize);
  justify-content: center;
  margin-right: 0.3rem;
  transition: all 0.2s ease-in-out;
}

#dashboard__left-bottom-polygon:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.98);
}

#dashboard__right-bottom-polygon {
  align-items: center;
  aspect-ratio: 361.86 / 320;
  background-color: var(--polygonBackgroundColor);
  border-radius: 10px;
  clip-path: polygon(33% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 33%);
  color: var(--polygonTextColor);
  display: flex;
  flex-basis: var(--polygonSize);
  font-size: var(--polygonFontSize);
  justify-content: center;
  margin-left: 0.3rem;
  transition: all 0.2s ease-in-out;
}

#dashboard__right-bottom-polygon:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.98);
}

#dashboard__call-for-action-image {
  filter: invert(67%) sepia(12%) saturate(2117%) hue-rotate(94deg)
    brightness(87%) contrast(84%);
  margin: -3rem 0 -3rem 43.8%;
  transition: all 0.2s ease-in-out;
  width: 12.5%;
}

#dashboard__call-for-action-image:hover {
  transform: scale(1.1);
}

/* Footer */

#footer__container {
  align-items: center;
  background-color: rgb(35, 35, 35);
  border-radius: 5px;
  color: white;
  display: flex;
  flex: 1 1 auto;
  font-size: 0.8rem;
  height: 2rem;
  justify-content: center;
  margin: 0.6rem auto;
  max-width: var(--maxContainerSize);
  min-width: var(--minContainerSize);
  opacity: 0.8;
}

/* Technologies page */

.technologies__logo {
  flex-basis: 100%;
  height: 10rem;
}

.js-logo {
  flex-basis: 10rem;
}

.ts-logo {
  flex-basis: 10rem;
}

.redux-logo {
  flex-basis: 19rem;
}

.react-logo {
  flex-basis: 10rem;
}

/* Contact sub page content */

#contact-details-container {
  padding: 1rem;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.no-margin {
  margin: 0;
}

.margin-top-dot2rem {
  margin-top: 0.2rem;
}

#portrait {
  margin: 0 auto;
  width: 20rem;
}

.rounded {
  border-radius: 50%;
  object-fit: cover;
}

/* MEDIA QUERY RULES */

/* Tablet and large phone size */

@media screen and (max-width: 650px) {
  :root {
    --polygonFontSize: 1.5rem;
  }

  #menu {
    font-size: 0.7rem;
    width: 15rem;
  }

  .menu__link {
    margin-right: 0.5rem;
  }

  #logo {
    width: 5rem;
  }

  #logo__link {
    font-size: 0.7rem;
  }

  #portrait {
    width: 18rem;
  }
}

/* iPhone SE and similar size */

@media screen and (max-width: 374px) {
  :root {
    --polygonFontSize: 1.2rem;
  }

  #portrait {
    width: 16rem;
  }
}
